!!!
%html
  %head
    %title Rat Pack
    %link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    %script(src="javascripts/main.js")
  %body
    .container
      .content
        %a.btn{:class => indicator_class}
          =indicator_class
      .footer
        .links
          %a(href="http://makingthingshappen.de/?source=rat_pack")
            %img(alt="making things happen." src="images/makingthingshappen.png")